
@font-face {
	font-family: UniSans;
	src: url("../fonts/Uni Sans Heavy Italic.otf");
}

*{
	margin: 0 auto;
	padding: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none;
	border-radius: 0;
	text-decoration: none;
	list-style-type: none;
	color: black;
}

:focus {outline:none;}

*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body, html{
	height: 100%;
	width: 100%;
}

.verticalCenter{
	/* Example
	<div class="fullWindow">
		<div class="verticalCenter">
			<elements/>
		</div>
	</div>
	*/
	position: absolute;
	top: 50%; left: 0; right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.flex{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	  flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	  align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	  justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	  flex-wrap: wrap;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	  flex-grow: 1;
}

body{
}

.overlay{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 99;
	text-align: center;
}

.popup{
	margin: 0 auto;
	position: relative;
	background: #fff;
	display: inline-block;
	padding: 2rem 3rem;
	padding-bottom: 2.5rem;
	width: 25rem;
	max-width: 90%;
}

.popup a{
	font-family: 'Source Sans Pro';
	font-size: 1em;
	margin-top: 2rem;
	padding: 0.4em 2em;
	background: #2b2b2b;
	color: white;
	transition: 0.1s all ease;
}

.popup a:hover{
	opacity: 0.8;
}

.popup h1{
	font-size: 1.5em;
	text-align: center;
	/*margin-bottom: 0.4em;*/
	font-family: 'Open Sans Condensed';
	text-transform: uppercase;
}

.popup input{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	padding: 0 0.3em;
	border: none;
	background: #eee;
	font-size: 1em;
	margin: 1rem 0;
	margin-bottom: 1.8rem;
}

#tits{
	height: 15%;
	position: relative;
}

#tits h2{
	font-family: "Open Sans Condensed";
	font-weight: 700;
	font-size: 3rem;
	padding-left: 2%;
	font-size: 5vw;
}

#tits .actions{
	/*display: none;*/
	height: 100%;
	position: absolute;
	padding: 1rem;
	right: 0;
}

#tits .actions a{
	height: 4rem;
	width: 4rem;
	transition: 0.2s all ease;
}

#tits .actions a:hover{
	opacity: 0.6;
}

#tits .actions a img{
	width:2.9rem;
	height: 2.9rem;

	padding: 0.6rem;
	border-radius: 1.5rem;
	background: #22A7F0;
}

#text{
	position: relative;
	font-family: "UniSans";
	font-weight: 900;
	height: 70%;

	font-size: 7rem;
	font-size: 8vw;
}

#text div{
	padding: 5%;

}

footer{
	position: absolute;
	bottom: 0;
	text-align: center;
	font-family: 'Source Sans Pro';
	height: 5vh;
	width: 100%;
	margin: 0 auto;
}

footer a{
	font-family: 'Source Sans Pro';
	display: inline-block;
}

footer a:hover{
	text-decoration: underline;
}

footer span{
	padding: 0 0.25em;
	font-weight: bold;
}

footer img{
	height: 1em;
	width: auto;
	vertical-align: bottom;
}

.color{
	color: #22A7F0;
}

@media (max-width: 500pt){
	#tits h2{
		font-size: 11vw;
	}

	#text{
		font-size: 11vw;
	}
}

/*body{
	background: #000;
}

div{
	color: #999;
}

h2{
	color: #999;
}

a{
	color: #BDC3C7;
}*/